@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9de6e1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px double rgba(184, 168, 27, 0.952);
  text-align: center;
  padding: 20px 5%;
  background-color: black;
  position: sticky;
  top: 0;
}

.logoNav {
  width: 150px;
  cursor: pointer;
}

.fuentesNav a {
  font-family: cursive;
  font-size: 15px;
  font-weight: bold;
  color: #5acccc;
}

.navbar {
  background-color: rgb(0, 0, 0);
}

/* Estilo para los elementos del menú */
.navbar-nav .nav-link {
  color: lightblue;
}
.navbar-nav .nav-link:hover {
  color: lightcyan;
}

/* Cambiar el color del texto cuando el cursor está sobre los elementos del menú */
.navbar-toggler {
  background-color: rgba(184, 168, 27, 0.952);
}

.navbar-toggler-icon {
  color: #5acccc;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 30px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #5acccc;
}

h1,
h2,
h3,
h4 {
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
  text-align: center;
  margin: 20px 0px;
}

.parrafo {
  padding: 3px 10px;
  border: #fff 5px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font: oblique bold 100% cursive;
}

.parrafo {
  font-size: calc(1em + 1vw);
  line-height: 1em;
  padding: 1em;
  margin: 1em;
}

.torneos {
  font: 100% sans-serif;
  display: grid;
  padding: 20px;
  background-color: #b5e7eb;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.button {
  font: 150% sans-serif;
  padding: 10px 20px;
  background-color: rgba(184, 168, 27, 0.952);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* cards canchas */
.contenedorCanchas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.imgCanchas {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

.canchas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #b7e8eb;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.canchaTitulo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.canchaDescripcion {
  font: 150% sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.canchaPrecio {
  font: 100% sans-serif;
  color: rgba(184, 168, 27, 0.952);
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: rgba(184, 168, 27, 0.952);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* carousel publicidad */
.c1 {
  margin-left: 25%;
  justify-content: center;
  width: 100%;
}

.c2 {
  width: 100%;
  height: auto;
}

form {
  width: 400px;
  background: #5acccc;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
  font-family: "calibri";
  color: rgb(255, 255, 255);
  box-shadow: 7px 13px 37px #7d7e3d;
}

input[type=text],
[type=password],
[type=email],
[type=date],
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type=radio] {
  width: auto;
  padding: 10px;
}

.btnformulario {
  margin-bottom: 0;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.containerForm {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.texto {
  padding: 10px 20px;
  font-size: 25px;
}

footer {
  margin: 20px;
  padding: 20px;
  border-top: 1px solid black;
  text-align: center;
}

/*# sourceMappingURL=estilo.css.map */
